@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols&display=swap');

/* general */

body {
    background-color: black;
    color: white;
    background-color: #b50000;
    font-family: 'Noto Sans Symbols', sans-serif;
}

/* header */

header {
    background-color: #b50000;
    font-family: 'Sixtyfour', sans-serif;
    height: 50px;
}

.title {
    margin-left: 1%;
    position: relative;
    top: 0px;
}


/* main */

main {
    background-color: black;
    width: 100%;
}

.innermain {
    margin: 0% 5%;
    padding-top: 1%;
    padding-bottom: 3%;
}

article {
    background-color: rgb(0, 0, 65);
    width: 20%;
    height: 400px;
    border-radius: 10px;
    text-align: center;
}

h3 {
    padding-top: 10px;
}

article {
    margin-left: 3%;
    margin-right: 3%;
}

.link {
    color: white;
    background-color: brown;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    width: 75%;
    margin-left: 13%;
    height: 35px;
    margin-top: 8%;
}

p {
    display: inline;
    vertical-align: middle;
}

.rom-list {
    display: flex;
    flex-direction: row;
}

.sonicimg {
    width: 38%;
}

.pkmredimg {
    width: 55%;
}

.mkdsimg {
    width: 63%;
}
/* footer */

footer {
    background-color: #b50000;
    height: 75px;
}